body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

/* Класи елементів */

.container {
    padding-left: 20px;
    padding-right: 20px;
}

/* Mobile 480+ */

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }
}

/* tablet 768+ */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

/* desktop 1200+ */

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


/* Меню навігації */

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }

    .menu-button {
        border: none;
        background-color: transparent;
        padding: 16px;
    }

    .menu-button-close {
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: transparent;
        border: none;
    }

    .mobile-menu {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: #e5e5e5;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        transition: opacity 250ms ease-in, transform 250ms ease-in;
    }
}

.nav {
    margin-top: 70px;
    margin-bottom: 90px;
}

.nav-list {
display: flex;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list-item:not(:last-child){
  margin-right: 100px;
}

.nav-list-item:hover,
.nav-list-item:focus{
color: #03a9f4;
}